<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>资产管理</title>
	
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/easyUI/themes/default/easyui.css"/>
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/easyUI/themes/icon.css"/>
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/asset.css"/>
	<script type="text/javascript" src="__PUBLIC__/easyUI/jquery.min.js"></script>
	<script type="text/javascript" src="__PUBLIC__/easyUI/jquery.easyui.min.js"></script>
	<script type="text/javascript" src="__PUBLIC__/easyUI/easyui-lang-zh_CN.js"></script>
</head>

<body class="easyui-layout">
	<div id="north" data-options="region:'north'" style="height:100px;">
		<h1 id="title">固定资产管理系统</h1>
		
	</div>
	<div id="south" data-options="region:'south'" style="height:50px;"></div>
	<div data-options="region:'west'" title="目录" style="width:240px;">
		<ul class="easyui-tree">
			<li>
				<span>固定资产管理</span>
				<ul>
					<li>
						<span>资产管理</span>
						<ul>
							<li><a style="text-decoration:none" href="{:U('Allocation/index')}">配置列表</a></li>
							<li><a style="text-decoration:none" href="{:U('Asset/index')}">资产列表</a></li>
							<li><a style="text-decoration:none" href="{:U('User/index')}">人员列表</a></li>
						</ul>
					</li>
					<li>
						<span>资产报表</span>
						<ul>
							<li>配置报表</li>
							<li>资产报表</li>
							<li>人员报表</li>
						</ul>
					</li>
					<li>
						<span><a style="text-decoration:none" href="{:U('Log/index')}">操作日志</a></span>
					</li>
				</ul>
				
			</li>
			<li>
				<span>系统管理</span>
				<ul>
					<li>
						<span><a style="text-decoration:none" href="{:U('Index/logout')}">退出</a></span>
					</li>
				</ul>
			</li>
		</ul>
	</div>
	<div data-options="region:'center'" style="border:0px">
		<block name="main">主窗口</block>
	</div>
</body>
</html>